body {
    margin-top: 50px;
}

.input-group {
    position: relative;
}


#email-field {
    display: block;
    border: 0;
    border-bottom: 2px solid #555;
}

#email-label {
    display: block;
    position: absolute;
    color: #777;
    transition: bottom 0.3s;
}

#email-error {
    color: red;
}

.hidden {
    display: none;
}